.biperson-icon {
  width: 31px;
  height: 31px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.user-avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.sign-up {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 73px;
  white-space: nowrap;
}
.favorites-actions {
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
  max-width: calc(100% - 48px);
}
.close-x-icon {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
#close-modal{
display: none;
}
.favorites-headline {
  align-self: stretch;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-cormorant-garamond);
}
.email-address {
  width: 187px;
  border: 0;
  outline: 0;
  font-family: var(--font-karla);
  font-size: var(--font-size-lgi);
  background-color: transparent;
  height: 20px;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.email-field,
.email-input,
.password-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field {
  height: 55px;
  flex: 1;
  border-radius: var(--br-12xs);
  border: 1px solid var(--color-lightgray-100);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-xl) var(--padding-mid);
  max-width: 100%;
}
.email-input,
.password-input {
  align-self: stretch;
}
.email-input {
  height: 58px;
  padding: 0 0 var(--padding-8xs);
  max-width: 100%;
}
.password-input {
  height: 55px;
  border-radius: var(--br-12xs);
  border: 1px solid var(--color-lightgray-100);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-base) var(--padding-xl) var(--padding-mid);
}
.log-in1 {
  width: 122px;
  position: relative;
  font-size: var(--font-size-2xl);
  font-family: var(--font-karla);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.log-in {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-mini) var(--padding-xl) var(--padding-sm);
  background-color: var(--color-gray-600);
  align-self: stretch;
  height: 57px;
  border-radius: var(--br-12xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.log-in:hover {
  background-color: rgba(51, 51, 51, 0.82);
  border: 1px solid #333;
  box-sizing: border-box;
}
.already-have-an,
.sign-up-now1 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-karla);
  text-align: center;
}
.already-have-an {
  align-self: stretch;
  color: var(--color-darkslategray-100);
}
.sign-up-now1 {
  flex: 1;
  color: var(--color-rosybrown);
  white-space: nowrap;
}
.sign-up-now,
.signup-link {
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up-now {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.signup-link {
  align-self: stretch;
  padding: 0 50px 0 49px;
}
.account-question,
.signup-link,
.signup-option {
  display: flex;
  align-items: flex-start;
}
.account-question {
  width: 225px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.signup-option {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.credentials,
.login-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-actions {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-8xl);
}
.credentials {
  margin: 0;
  width: 531px;
  align-items: flex-start;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.auth,
.signup-popup {
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
}
.auth {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-35xl) 0 var(--padding-36xl);
}
.signup-popup {
  width: 640px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-9xs);
  background: linear-gradient(
      0deg,
      rgba(219, 219, 219, 0.2) 20.8%,
      rgba(255, 255, 255, 0)
    ),
    #fff;
  overflow-y: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 37px;
  gap: var(--gap-24xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 525px) {
  .credentials {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .favorites-headline {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .log-in1 {
    font-size: var(--font-size-mid);
  }
  .auth {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .signup-popup {
    gap: var(--gap-2xl);
  }
}
































































body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-karla: Karla;
  --font-cormorant-garamond: "Cormorant Garamond";
  --font-cormorant-sc: "Cormorant SC";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-smi: 13px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-4xl: 23px;
  --font-size-2xs: 11px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-mini: 15px;
  --font-size-8xl: 27px;

  /* Colors */
  --color-rosybrown: #b18165;
  --color-darkslategray-100: #4b4b4b;
  --color-darkslategray-200: #323232;
  --color-black: #000;
  --color-gray-100: #8a8a8a;
  --color-gray-200: #848484;
  --color-gray-300: rgba(0, 0, 0, 0.67);
  --color-gray-400: rgba(0, 0, 0, 0.7);
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-gray-600: rgba(0, 0, 0, 0.82);
  --color-white: #fff;
  --color-lightgray-100: #d3d3d3;
  --color-lightgray-200: rgba(206, 205, 205, 0.88);
  --color-darkgray-100: #b5ada9;
  --color-darkgray-200: #b6a69d;
  --color-darkgray-300: #a59d9d;
  --color-whitesmoke: #efebe8;
  --color-gainsboro-100: #ddd9d7;
  --color-gainsboro-200: #ddd9d6;
  --color-silver-100: #bebebe;
  --color-silver-200: #bbb3af;
  --color-dimgray-100: #727272;
  --color-dimgray-200: #666;
  --color-dimgray-300: #646464;
  --color-dimgray-400: #626262;
  --color-dimgray-500: #4d4d4d;

  /* Gaps */
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-8xl: 27px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-7xl: 26px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-56xl: 75px;
  --gap-18xl: 37px;
  --gap-11xl: 30px;
  --gap-8xs: 5px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-sm: 14px;
  --gap-mini-2: 14.2px;
  --gap-mini-3: 14.3px;
  --gap-mini: 15px;
  --gap-xs: 12px;
  --gap-11xs: 2px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-3xl: 22px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-35xl: 54px;
  --padding-36xl: 55px;
  --padding-xl: 20px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;
  --padding-mini: 15px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-14xl: 33px;
  --padding-25xl: 44px;
  --padding-10xl: 29px;
  --padding-24xl: 43px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-13xl: 32px;
  --padding-lg: 18px;
  --padding-19xl: 38px;
  --padding-32xl: 51px;
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-smi: 13px;
  --padding-4xs: 9px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-2xs: 11px;
  --padding-34xl: 53px;
  --padding-26xl: 45px;
  --padding-7xs: 6px;
  --padding-9xl: 28px;
  --padding-6xs: 7px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-22xl: 41px;
  --padding-56xl: 75px;
  --padding-63xl: 82px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-12xs: 1px;
}
